@model WebApplication2.Models.UserModel

@{
    Layout = null;
}


<h2>ログイン失敗</h2>

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>NotFound</title>
</head>
<body>
    <div>
        <p>ご入力のアカウントは見つかりません。ID・パスワードを再度お確かめください。</p>
    </div>
    <button type="button" onclick="history.back()">戻る</button>

</body>
</html>